:root {
  --color-primary-blue: oklch(70% 0.1594 230);
  --color-primary-yellow: oklch(92.79% 0.1675 99.06);
  --color-black: black;
  --color-gray: #f3f4f6;
  --button-border-radius: 0.3rem;
  --form-input-border-radius: 0.3rem;

  --shadow-color: 220deg 5% 51%;
  --shadow-elevation-low: 0px 1px 1.2px
      hsl(var(--shadow-color) / 0.39),
    0px 1.8px 2.1px -1.1px hsl(var(--shadow-color) / 0.42),
    0px 4.5px 5.2px -2.2px hsl(var(--shadow-color) / 0.45);
  --shadow-elevation-medium: 0px 1px 1.2px
      hsl(var(--shadow-color) / 0.33),
    0px 3px 3.5px -0.6px hsl(var(--shadow-color) / 0.34),
    0px 5.9px 6.9px -1.1px hsl(var(--shadow-color) / 0.36),
    -0.1px 11.7px 13.6px -1.7px hsl(var(--shadow-color) / 0.37),
    -0.1px 22.5px 26.2px -2.2px hsl(var(--shadow-color) / 0.38);
}

* {
  /* remove margins */
  margin: 0;
  padding: 0;
  /* set font */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  /* typography essentials */
  font-size: 16px;
  line-height: 1.5;
}

div {
  margin-bottom: 2rem;
}

/* nav */
nav {
  display: flex;
  flex-direction: row;
  background-color: var(--color-primary-blue);
  align-items: baseline;

  /* company name */
  & .nav-logo h1 {
    font-weight: 700;
    color: var(--color-primary-yellow);
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  & .nav-items ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;

    & li {
      list-style: none;
      margin: 1rem;
      font-weight: 500;
    }
  }

  /* primary nav CTA */
  & .nav-CTA {
    background-color: var(--color-primary-yellow);
    padding: 1rem;
    border-radius: var(--button-border-radius);
    font-weight: 700;
    margin: 1rem 1rem 1rem auto;
  }
}

/* top-of-fold content */
.hero-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 90vh;

  /* text content */
  & .hero-text {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 3rem;
    margin-right: 2rem;

    h2 {
      font-size: 4rem;
      font-weight: 500;
      max-width: 15ch;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
      max-width: 50ch;
      line-height: 2rem;
    }

    & .hero-buttons {
      display: flex;
      flex-direction: row;
      margin-top: 2rem;

      @media (max-width: 1075px) {
        flex-direction: column;
      }

      a {
        width: 15rem;
        height: 3rem;
        padding: 1rem;
        font-size: 2rem;
      }

      .hero-button-primary {
        background-color: var(--color-black);
        color: var(--color-primary-yellow);
        margin-right: 2rem;
        font-weight: 700;
        border-radius: var(--button-border-radius);
      }

      /* chevron */
      .hero-button-primary::after {
        content: '';
        display: inline-block;
        margin-left: 1rem;
        width: 24px;
        height: 24px;
        background-color: var(--color-primary-yellow);
        -webkit-mask: url('./chevron-right.svg') no-repeat center
          center;
        mask: url('./chevron-right.svg') no-repeat center center;
        -webkit-mask-size: contain;
        mask-size: contain;
      }

      /* chevron */
      .hero-button-secondary::after {
        content: '';
        display: inline-block;
        margin-left: 1rem;
        width: 24px;
        height: 24px;
        background-color: var(--color-black);
        -webkit-mask: url('./chevron-right.svg') no-repeat center
          center;
        mask: url('./chevron-right.svg') no-repeat center center;
        -webkit-mask-size: contain;
        mask-size: contain;
      }
    }
  }

  /* image content */
  & .hero-img {
    background-image: url(./hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.our-services-container {
  margin-top: 5rem;
  background-color: var(--color-gray);

  & h3 {
    margin-left: 5rem;
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: bold;
  }

  & div {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 2rem;
    padding: 1rem;

    & div {
      padding: 1rem;
      border: 2px solid var(--color-primary-blue);
      border-radius: 8px;
    }

    & ul {
      list-style: none;

      & h4 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }

      & li {
        margin: 1rem;
      }
    }
  }
}

.energy-plans-container {
  margin-top: 5rem;
  height: 100vh;
}

.contact-container {
  margin-top: 5rem;
  height: 100vh;
  background-color: var(--color-gray);

  & h3 {
    margin-left: 5rem;
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: bold;
    max-width: 15ch;
    color: var(--color-primary-blue);
  }
  & form {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 450px;
    display: flex;
    flex-direction: column;

    box-shadow: var(--shadow-elevation-medium);
    border-radius: var(--button-border-radius);

    & label:first-child {
      margin-top: 1rem;
    }

    & label {
      margin-left: 1rem;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    & input,
    textarea {
      margin-left: 1rem;
      margin-bottom: 1rem;
      width: 80%;
      border-radius: var(--form-input-border-radius);
      padding: 0.5rem;
      font-size: 1.5rem;
    }

    /* submit button */
    & input:last-child {
      background-color: var(--color-black);
      color: var(--color-primary-yellow);
      margin-top: 2rem;
      margin-right: 2rem;
      font-weight: 700;
      border-radius: var(--button-border-radius);
      align-self: center;
    }

    #inquiry {
      height: 100px;
      resize: none;
    }
  }
}
